.page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title{
    width: 100%;
    text-align: center;
}

.recent{
    text-align: center;
    width: 100%;
}

.transactions{
    padding-top: 3rem;
    width: 20rem;
}

.transaction{
    padding: 0.5rem 0rem;
}

.player{
    padding: 0.25rem 0rem;
    color: #6c755f;
}

.green{
    color: #57EB96;
    font-weight: bold;
    text-align: right;
}

.red{
    color: #FE8180;
    font-weight: bold;
    text-align: right;
}

.playerContainer{
    display: flex;
    justify-content: space-between;
}

.input{
    width: 20rem;
    height: fit-content;
    border: 2px solid #6c755f;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
}

.transactionsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tiles{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tile{
    background-color: var(--ground);
    border: solid 1px #6c755f;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem 0.5rem;
    margin-bottom: 0rem;
    color: #6c755f;
}

.bold{
    color: white;
    font-weight: bold;
}