.page {
    padding: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
}
.title {
    padding: 2rem 0rem;
    width: 100%;
}

.team1 {
    min-width: 30rem;
}

.team2 {
    min-width: 30rem;
}

.checkbox{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.settings{
    width: 100%;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

@media (orientation: portrait) {
    .team1 {
        width: 90vw !important;
        min-width: 0rem !important;
    }

    .team2 {
        width: 90vw !important;
        min-width: 0rem !important;
    }

    .tiles {
        /* padding-left: 3rem; */
    }

    .summary{
        display: none;
    }

    .totalContainer{
        padding-bottom: 2rem;
    }

    .favors{
        width: 90vw !important;
        margin: 0rem !important;
    }
    
    .playersAdd{
        margin-top: 2rem !important;
    }
}

.dropdown {
    width: 90%;
    min-width: fit-content;
    background-color: #4e5741;
    border: none;
    height: 3rem;
    padding: 0.5rem;
    font-weight: bold;
}

.calculator {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 10vw;
    align-items: start;
    flex-wrap: wrap;
    /* height: ; */
}

.input {
    width: 90%;
    margin: 1rem;
    height: 4rem;
    background-color: transparent;
    border: #6c755f solid 0.1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0rem 1rem;
}

.container {
    width: 100%;
}

.options {
    background-color: #2f332a;
    height: 15rem;
    overflow-y: scroll;
}

.playerContainer {
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playerContainer:hover {
    background-color: #494e49;
}

.playerName {
    text-align: left;
    font-weight: bold;
}

.position {
    text-align: left;
    color: #6c755f;
    font-size: 0.7rem;
    width: 100%;
    padding-bottom: 01rem;
}

.selectedCard {
    background-color: transparent;
    border: solid #6c755f 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, max-content);
    text-align: left;
    margin: 0.5rem;
    align-items: center;
}

.info {
    color: #6c755f;
}

.selected {
    text-align: start;
    width: 100%;
}

.sum {
    text-align: right;
}

.totalContainer {
    display: flex;
}

.remove {
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    color: black;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.remove:hover {
    cursor: pointer;
}

.favors {
    width: 60vw;
    height: fit-content;
    margin: 5rem;
}

.trade {
    padding: 1rem;
}

.bold {
    font-weight: bold;
}

.add {
    margin-bottom: 2rem;
}

.right {
    text-align: right;
    margin-right: 1rem;
}

.tiles {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.playersAdd {
    background-color: var(--ground);
    width: 90%;
    border: 0.1rem solid #6c755f;
    border-radius: 0.5rem;
}

.summary{
    padding-bottom: 1rem;
}

.toAddTitle {
    padding: 1rem;
}

.playerToEven {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 0.1rem solid #6c755f;
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.playerToEven:hover {
    background-color: #6c755f;
}

.valueAdjustContainer{
    background-color: #6c755f;
    border: solid #6c755f 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.valueAdjustRow{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.valueAdjust{
    font-weight: bold;
}


.infoButton{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0rem;
    border: none;
    color: #6c755f;
}

.infoButton:hover{
    color: white;
}

.infoBreak{
    border: #6c755f solid 1px;
    border-bottom: none;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}


.adjustment{
    display: flex;
    justify-content: left;
}

.dropName{
    color: #6c755f;
    font-weight: normal;
    text-decoration: line-through;
    margin-left: 1rem;
}

.addName{
    color: #76BA1B;
    font-weight: bold;
}

.valueDescriptionContainer{
    position: relative;
}

.valueDescription{
    text-wrap: wrap;
    width: 100%;
    position: absolute;
    font-size: 0.7rem;
    color: #6c755f;
}