.chart{
    width: 40vw;
}

.page{
    display: flex;
}

.metrics{
    width: 20rem;
    background-color: var(--ground);
    border: 1px #6c755f solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 0rem 2rem;
    flex-wrap: wrap;
    align-items: start;
    height: fit-content;
}

.metricItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    color: #D3D3D3;
}

.bold{
    font-weight: bold;
    color: white;
}