.page {
  text-align: center;
}

.welcome{
  margin-top: 10vh;
}

.welcome, .paragraph, .header {
  width: 100%;
  padding-bottom: 1rem;
}

.sleeper{
  font-weight: bold;
}

.username{
  height: 3rem;
  border: none;
  background-color: rgba(2, 4, 39, 0.39);
  border-bottom: .1rem white solid;
  padding-left: 1rem;
  margin: 2rem;
  font-weight: bold;
  width: 12rem;
}

.button{
  margin: auto;
  height: 3rem;
  width: 8rem;
  text-align: center;
  font-size: large;
  background-color: #3F7BFB ;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

}

.button:hover{
  background-color: #5188ff ;
}

.link{
  background-color: transparent;
  border: solid white;
  padding: 0.5rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.link:hover{
  background-color: rgba(0, 0, 0, 0.349);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}


/* LOGO */
.sleeper_logo{
  display: flex;
  justify-content: center;
}

.sleeper_container{
  width: 5rem;
  height: 5rem;
  position: relative;
}

.white {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 85%;
  height: 70%;
  left: 7%;
  bottom: 5%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
}

.circle{
  position: absolute;
  border-radius: 100%;
  background-color: white;
  width: 20%;
  height: 20%;
  right: 41%;
  top: 5%;
}

.face {
  position: absolute;
  background-color: black;
  left: 15%;
  bottom: 10%;
  width: 70%;
  height: 50%;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.eyes{
  position: absolute;
  background-color: aqua ;
  left: 25%;
  top: 55%;
  width: 15%;
  height: 15%;
  border-top-left-radius: 20;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 20%;
}

.eyes:after{
  content: "";
  position: absolute;
  background-color: aqua ;
  right: -240%;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 20%;
}


@media (orientation: landscape) {
  .page{
      margin-left: 4rem;

  }
}