.page{
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.power:hover{
    color: #6c755f;
}

.topRow{
    padding-top: 5rem;
    width:60%;
    display: flex;
    justify-content:  space-between;
}

.back{
    text-align: left;
    width: 100%;
}

.secondRow{
    width:100%;
    margin-top: 2rem;
    display: flex;
    display: flex;
    justify-content: space-around;
}

.itemTitle{
    color: #6c755f;
}

.itemRank{
    font-weight: bold;
}

.item{
    padding: 0rem 1rem;
    border-left: 1px white solid;
}

.row3{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0px;
}

.tabNavigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tabButton{
    background-color: transparent;
    color: #6c755f;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.tabButton:hover{
    background-color: #c3316410;
}

.icon{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.active{
    color: #C33163;
    border-bottom: #C33163 2px solid;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.locked{
    font-weight: normal;
    color: #6c755f;
    font-size: 0.8rem;
    text-align: right;
}

.record{
    text-align: right;
}

