.sidebar{
    z-index: 2;
    width: 4rem;
    background-color: #282837;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    padding: 0.5rem;
    font-size: .8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    padding-top: 6rem;
}

.open{
    background-color: #1D1D28;
}

.leauges{
    opacity: 1;
    left: 4rem;
    width: 12rem;
    background-color: #282837;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    padding: 2rem;
    font-size: .8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    padding-top: 6rem;
    z-index: 2;
}

.item{
    padding-bottom: 0.25rem;
    border-bottom: 0.1rem solid #76769B;
    cursor: pointer;
    margin-bottom: 2rem;
    z-index: 3;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.players{
    opacity: 1;
    left: 4rem;
    width: 12rem;
    background-color: #282837;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    padding: 2rem;
    font-size: .8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    padding-top: 6rem;
    z-index: 2;

}

.header{
    z-index: 5;
    position: fixed;
    width: 100vw;
    display: flex;
    padding: 16px;
    background-color: #C33163;
    height: 4rem;
    align-items: center;
}

.home{
    font-weight: 600;
    font-size: 1.4rem;
}

.toggleButton{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 1rem;
}

.toggleButton:hover{
    cursor: pointer;
}
